language: node_js
node_js:
- 0.12.3
before_install:
- sudo apt-get install libdbus-1-dev
- sudo apt-get install libglib2.0-dev
- sudo apt-get install lib64expat1-dev
before_script:
- npm install grunt-cli -g
script:
- grunt build
before_deploy:
- tar -cvzf dist/Soundnode/linux64.tar.gz dist/Soundnode/linux64/*
- tar -cvzf dist/Soundnode/linux32.tar.gz dist/Soundnode/linux32/*
- zip -r dist/Soundnode/win32.zip dist/Soundnode/win32/
- zip -r dist/Soundnode/osx64.zip dist/Soundnode/osx64/
deploy:
  provider: releases
  api_key:
    secure: caqLwvWUrbzMxuoX8bt+rjioiVR1pGbz1W9Xkj6spg8t907P3nFJCfN1HE0dMXemJkyfFtIz4393NeeZP5HmCgInOeKUGvWmXbKKjC21TJftpBcIsC/Xdd0C3MzUSAcGrl9HDhvy3n3LTZq53WXEb+Z4+h/E2wQQ5vsTfOM5acI=
  skip_cleanup: true
  file:
    - dist/Soundnode/linux64.tar.gz
    - dist/Soundnode/linux32.tar.gz
    - dist/Soundnode/win32.zip
    - dist/Soundnode/osx64.zip
  on:
    repo: jakejarrett/soundnode-app
    branch: travis-ci
