@import "../../sass/_variables";

.search {
  width: 100%;
  text-align: center;
  margin: 10px 0;

  &-form {
    position: relative;

    & .search-icon {
      position: absolute;
      top: 10px;
      right: 5px;
      color: $defaultColor;
      transition: $transitionFastValue;
    }

    & .search_field {
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid $separatorCleanColor;
      background: transparent;
      border-radius: 0;
      color: $defaultColor;
      height: auto;
      padding: 5px 5px 5px;
      width: 100%;
      &:focus {
        box-shadow: none;
        border-bottom-color: $linkColor;
        color: $linkColor;

        & +.search-icon {
          color: $linkColor;
        }
      }

      &:hover {
        cursor: text;
      }
    }

  }
}

.searchButton {
  display: none;
}

.topbarSearch {
  position: absolute;
  left: 205px;
  -webkit-app-region: no-drag;
}

@media (max-width: 940px) {
  .topbarSearch {
    width: 25%;
  }
}

@media (min-width: 940px) {
  .topbarSearch {
    width: 35%;
  }
}
